<div class="user_badge">
  <div class="avatar" align="center">
    <%= image_tag(((@photo_url.nil? || @photo_url.blank?) ? 'default.jpg' : @photo_url)) %>
  </div>
  <div class="user_rating_star" align="center">
    ★★★☆☆
  </div>
  <div class="name" align="center"><%= link_to @friendly_name, "/profile/show?target_user=#{@user.id}" %></div>
</div>