<%= content_box "绑定", "手机号" do %>
<form name="confirm" action="/sms/confirm">
  <label>四位验证码</label>
  <input id="confirm_input" type="text" name="confirm"></input>
  <input type="submit" value="确定"/>
</form>
<% end %>
