<div class="inside">
  <p>同享日程(tongshare.com)是一个由清华在校生BRAVURA团队自主开发的共享日历系统</p>
  <p>其集个人课程表与日程表于一身，简洁的页面设计，给同学们带来的却是精确到时间，地点，共同参与人的精彩。自建活动，他人邀请活动，让日程不再混乱。课堂点名报警，报到，帮助同学按时上课。链接人人网，新颖的打招呼功能，让同上一节课的陌生人轻松变成朋友，同享为同学们架起的不仅是课余学术沟通的桥梁，更是拓展人际网的渠道。活动邀请，让班级，社团发布活动消息更加便捷，组织者不用再为协调时间而烦恼，直接点击同享查看即可。邮件，手机短信，登陆网站多维方式将信息传达给用户。同享高效率，满足每一个务实清华人！同享日程，同享生活。</p>
  <p>该项目获得了清华大学计算机系各实验室、科协、团委、学生会的大力支持。同时还要感谢清华大学计算中心、学生清华和各个协会以及广大清华师生的支持，感谢他们给予了我们很多宝贵的意见，也提供了很多宝贵的资源。</p>
  <p>同享日程上关于百年校庆的各个日程由清华大学计算中心及<%= link_to '校庆官网', 'http://100.tsinghua.edu.cn' %>官方提供数据源，并且每天都会及时更新。同时，同享日程也作为官方的日程发布平台，让官方的<%= link_to '校庆导览程序', 'http://100.tsinghua.edu.cn/cn/zhpage/1-5.html' %>可以及时获取最新最准确的校庆日程安排。</p>
</div>
